.modal-header
  %a.close{"aria-label" => "Close", "data-dismiss" => "modal"}
    %i.fa.fa-times
  %h4.modal-title Replace document
.modal-body.ui-front.document-modal
  %strong="Upload a new file to replace the document named:"
  %p="#{@document.slug}"
  =form_for @document, url: replace_document_path(@document), html: { id: 'replace_document' } do |form|
    =form.file_field  :file, presigned: true
    .modal-footer
      =form.submit "Replace", id: 'document_submit_action', class: 'btn btn-primary'
